#accordion-content{
	min-height: 300px;
}
#sortable{
	list-style: none;
    padding-left: 0;
}

#sortable li{
	box-shadow: 0 0 2px silver;
}

#sortable li p.title{
	background: #f5f5f5;
	padding: 10px;
}

#sortable li p.content{
	display: none;
	padding: 10px;
}

#result p{
	margin:0;
	font-family: monospace;
	font-size: 10px;
}

.delete-button{
    background: #323232;
    color: white;
    text-align: center;
    float: right;
    width: 21px;
    height: 20px;
    cursor: pointer;;
}